*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #ccc;
}
.container{
    max-width:900px;
    margin:0 auto;
}

.apply_box{
    max-width:600px;
    background-color: white;
    box-shadow:4px 3px 5px rgba(1,1,1,0.1);
    border-radius:10px;
    margin:0 auto;
    padding:20px;
    margin-top:28px;
    
}
.apply_box h1{
    
    text-align:center;
    padding:20px;
    margin-top:10px;
    font-size:40px;

}
.small{
    font-size:15px;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.con2{
    margin-top:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;   
}
.formcontrol{
    display:flex;
    flex-direction: column;
}
.button{
    
    width:80px;
    margin-left:100px;

}
button{
    font-size: 17px;
    background-color:red; 
    color:white;
    transition: 0.3s ease-in; 
    cursor:pointer;
}
label{
    margin-bottom:5px;
    font-size:15px;
}
input,select,textarea{
    padding:6px 10px;
    border:1px solid #ccc;
    border-radius:4px;
    font-size:15px;
}
input:focus{
    outline-color: red;
}
.textformcontrol{
    grid-column:1 / span 2;
}
.textformcontrol textarea{
    width:100%;
}
@media (max-width:460px)
{
    .textformcontrol{
        grid-column:1 / span 1;
    }
}
